@use "./abstracts" as *;

@forward "preview";

@forward "info";

@forward "protected-content-modal";

body.single-photo-gallery {
    background: $navy;
    color: $gray-0;
    border-top: none;

    .site-header,
    .site-footer {
        display: none;
    }

    .photo {
        padding: $spacing-600;
        display: grid;
        gap: $spacing-700;
        max-width: 100rem;
        margin: 0 auto;

        @include mq(desktop-small) {
            padding: $spacing-700 $spacing-700;

            grid-template-columns: 2fr 1fr;
        }
    }
}
