@use "./abstracts" as *;

.appendices {
    &__list {
    }
}

.appendix {
    @include mq(desktop-small) {
        padding-left: $spacing-200;
    }

    &__label {
        text-transform: uppercase;
        font-size: $type-size-300;
        letter-spacing: 0.25em;
        padding-bottom: $spacing-200;
        font-weight: 500;
    }

    &__link {
        display: inline-block;
        font-size: $type-size-500;

        &:hover {
            text-decoration: underline;
            text-decoration-thickness: 1px;
            text-underline-offset: 2px;
        }
    }
}

.post-type-archive-appendices {
    .hero__info-wrapper {
        width: auto;
    }
}
