@use "./abstracts" as *;

.site-header__desktop {
    padding: $spacing-600 0;
    align-items: center;
    font-family: $golden-wf;

    .site-nav__left {
        grid-column: 2 / span 4;
    }

    .site-logo {
        grid-column: 6 / span 4;
        text-align: center;
        align-self: center;
    }

    .site-nav__right {
        grid-column: 10 / span 4;
        text-align: right;
    }

    li {
        padding: $spacing-100 0;
    }

    a {
        display: inline-block;
        text-transform: uppercase;
        font-size: 0.75rem;
        border-bottom: 1px solid transparent;
        transition: all 300ms ease;

        &:hover,
        &.active {
            border-color: $blue;
        }
    }
}
