@use "./abstracts" as *;

.page-header {
    text-align: center;
    padding: $spacing-600 0 $spacing-800;

    @include mq(desktop-small) {
        padding: $spacing-700 0 $spacing-900;
    }
}

.page-title {
    font-size: $type-size-900;
    font-variant: small-caps;
    font-weight: normal;
    letter-spacing: 0.1em;

    @include mq(desktop-small) {
        font-size: $type-size-800;
    }
}
