@use "./abstracts" as *;

.password-form {
    &__wrapper {
        text-align: left;
        @include mq(tablet-small) {
            text-align: unset;
            display: flex;
            align-items: stretch;
            justify-content: center;
        }
    }

    &__input {
        color: $gray-950;
        font-family: $sometype-mono;
        border: 2px solid $blue;
        padding: $spacing-300 $spacing-400;
        flex: 1;
        width: 100%;
        font-size: $type-size-200;

        @include mq(tablet-small) {
            max-width: 20rem;
        }

        @include placeholder {
            font-style: italic;
            color: $gray-500;
        }

        &:focus {
            outline-color: $navy;
        }
    }

    &__btn {
        appearance: none;
        border: none;
        display: inline-block;
        font-family: $golden-wf;
        text-transform: uppercase;
        background: $blue;
        color: $navy;
        line-height: 0.875em;
        font-size: 0.875rem;
        padding: $spacing-400 $spacing-600;
        margin-top: $spacing-200;

        @include mq(tablet-small) {
            padding: $spacing-200 $spacing-600;
            margin-top: unset;
        }

        &:hover {
            cursor: pointer;
        }
    }

    &__message {
        display: inline-block;
        margin: $spacing-400 auto;
        opacity: 0;
        transition: opacity 0.5s ease;
        min-height: 20px;
        font-family: $sometype-mono;
        font-size: $type-size-200;
        padding: $spacing-100 $spacing-400;

        &.success {
            background: #16a34a;
            color: $gray-0;
            opacity: 1;
        }

        &.error {
            background: #dc2626;
            color: $gray-0;
            opacity: 1;
        }
    }
}
