@use "./abstracts" as *;

body,
button,
input,
select,
optgroup,
textarea {
    font-family: $garamond;
}

a {
    color: $gray-900;
    text-decoration: none;
}

::-moz-selection {
    background: blue;
    text-shadow: none;
}

::selection {
    background: blue;
    color: white;
    text-shadow: none;
}
