@use "./abstracts" as *;

.gallery {
    background: $navy;
    color: $cream;

    a {
        color: $cream;
    }

    @media (width <= 992px) {
        padding-top: $spacing-600 !important;
    }

    &__page {
        @include mq(desktop-small) {
            grid-column: 3 / span 10;
        }
    }

    &__items {
        display: grid;
        gap: $spacing-700 $spacing-800;
        grid-template-columns: repeat(auto-fit, minmax(6rem, 1fr));
        padding: $spacing-600 0;

        @include mq(desktop-small) {
            padding: $spacing-900 0;
            grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
        }

        @include mq(desktop-large) {
            padding: $spacing-900 0;
            grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
        }
    }

    &__item {
        display: grid;
        place-items: center;
        text-align: center;
    }

    &__link {
        display: block;
        width: 100%;
        text-align: center;

        &:hover {
            .gallery__photo {
                border-color: $blue;
            }

            .gallery__name {
                color: $blue;
            }
        }
    }

    &__photo {
        border-radius: 50%;
        border: 1px solid transparent;
        margin: 0 auto;

        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 600ms ease;

        @include mq(desktop-small) {
            width: 10rem;
            height: 10rem;
        }

        @include mq(desktop-large) {
            width: 12rem;
            height: 12rem;
        }

        img {
            border-radius: 50%;
            margin: 0 auto;
            aspect-ratio: 1 / 1;

            @include mq(desktop-small) {
                width: 8.5rem;
                height: 8.5rem;
            }

            @include mq(desktop-large) {
                width: 10.5rem;
                height: 10.5rem;
            }
        }
    }

    &__name {
        padding-top: $spacing-400;
        text-align: center;
        font-size: $type-size-400;
        font-variant: small-caps;
        letter-spacing: 0.05em;
        line-height: 1;
        transition: all 300ms ease;
    }

    &__pagination {
        padding-bottom: $spacing-900;

        &-items {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: $spacing-900;
        }

        &-link {
            display: flex;
            align-items: center;
            justify-content: center;
            width: $spacing-800;
            height: $spacing-800;
            border-radius: 50%;
            font-family: $ideal-sans;
            font-size: $type-size-600;
            transition: all 300ms ease;
            color: $cream;
            background: transparent;

            span {
                display: block;
                transform: translateY(-3px);
            }

            &:hover,
            &.active {
                background: $blue;
                color: $navy;
            }
        }
    }
}
