@use "./abstracts" as *;

.videos {
    padding: $spacing-800 0;

    &__copy {
        text-wrap: balance;
        text-align: center;

        @include mq(desktop-small) {
            grid-column: 4 / span 8;
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
        gap: $spacing-600;
    }

    &__link {
        position: relative;
        display: block;
    }

    .play-btn {
        position: absolute;
        top: calc(50% - 2rem);
        left: calc(50% - 2rem);
        z-index: 10;
        width: 4rem;
        height: 4rem;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
