@use "./abstracts" as *;

.media {
    padding-bottom: $spacing-800;
    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(100%, 24rem), 1fr));
        gap: $spacing-500;
        grid-auto-rows: 1fr;
    }

    &__item {
        display: grid;
        justify-content: center;
        align-items: center;
        gap: $spacing-300;
        padding: $spacing-600;
        position: relative;

        &:nth-child(4n + 1) {
            background: $blue;
        }

        &:nth-child(4n + 2) {
            background: $goldenrod;
        }

        &:nth-child(4n + 3) {
            background: $purple;
        }

        &:nth-child(4n + 4) {
            background: $rose;
        }
    }

    &__quote {
        font-size: $type-size-700;
        line-height: 1.25;
        text-align: center;
        font-family: $garamond-display;
        text-wrap: pretty;
    }

    &__logo {
        height: 3rem;

        img {
            mix-blend-mode: multiply;

            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__link {
        font-size: $type-size-200;
        text-transform: uppercase;
        font-family: $ideal-sans;
        font-weight: 500;
        letter-spacing: 0.1em;
        text-align: center;

        &:hover {
            text-decoration: underline;
        }
    }

    &__cta {
        text-align: center;
    }
    &__cta-link {
        text-align: center;
        font-family: $ideal-sans;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 0.2em;
        font-size: $type-size-100;
        border-bottom: 1px solid transparent;
        transition: all 150ms ease;

        @include mq(desktop-small) {
            font-size: $type-size-200;
        }

        &:hover {
            border-color: $blue;
        }
    }
}

.the-wall-street-journal {
    .media__quote {
        font-size: $type-size-600;
    }
}

.kirkus-reviews {
    .media__logo {
        height: 1.75rem;
    }
}

.new-york-journal-of-books {
    .media__logo {
        height: 2.25rem;
    }
}

.kirkus-star {
    width: 4rem;
    height: 4rem;
    position: absolute;
    bottom: 1rem;
    right: 1rem;

    img {
        width: 100%;
    }
}

.kirkus-text {
    text-align: center;
    font-family: $ideal-sans;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.2em;
    font-size: $type-size-100;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $spacing-300;

    @include mq(desktop-small) {
        font-size: $type-size-200;
    }

    &::before,
    &::after {
        content: "";
        display: block;
        width: $spacing-700;
        height: 1px;
        background: $gray-1000;
    }
}
