// Garamond
@import url("https://use.typekit.net/beg0oxx.css");
$garamond: "garamond-premier-pro", serif;
$garamond-display: "garamond-premier-pro-display", serif;
$broadsheet: "broadsheet", serif;

// Sometype Mono
@import url("https://fonts.googleapis.com/css2?family=Sometype+Mono:ital,wght@0,400..700;1,400..700&display=swap");
$sometype-mono: "Sometype Mono", monospace;

// Ideal Sans
@font-face {
    font-family: "Ideal Sans";
    src: url("fonts/idealsans-book-pro-webfont.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Ideal Sans";
    src: url("fonts/IdealSans-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

$ideal-sans: "Ideal Sans", sans-serif;
